/.codelite
/Tests/DataOpTest/DataOpTest.mk
/Tests/DataOpTest/DataOpTest.txt
/Tests/LayerTest/LayerTest.mk
/Tests/LayerTest/LayerTest.txt
/Tests/OtherTests/OtherTests.mk
/Tests/OtherTests/OtherTests.txt
/MetaNN/MetaNN.mk
/Makefile
/Tests/*/Debug/
/Tests/*/Release/
/MetaNN/Debug/
/MetaNN/Release/
.idea